html, body {
    margin: 0;
}

.container_block{
    background-color: #DBDBDB;
    margin: 0;
    padding: 8px;

    border-radius: 8px;
}

#layout_container{
    display: grid;
    grid-template-columns: auto 300px 55px 500px 55px 300px auto;
}

header{
    grid-column-start: 2;
    grid-column-end: 7;

    display: grid;
    grid-template-columns: 300px 55px 500px 55px 300px;
    align-items: center;

    margin-top: 12px;
    margin-bottom: 12px;
}

#header_logo{
    grid-column-start: 1;
    grid-column-end: 2;
}

#header_logo h1{
    margin: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #F29A31;
}

#header_search{
    grid-column-start: 3;
    grid-column-end: 4;
}

#header_nav{
    grid-column-start: 5;
    grid-column-end: 6;
}

#header_nav ul{
    list-style: none;
    margin: 0;

    display: flex;
    flex-direction: row-reverse;
}

#header_nav ul li{
    margin-left: 8px;
}

#user_container{
    grid-column-start: 2;
    grid-column-end: 2;
}

main {
    grid-column-start: 4;
    grid-column-end: 4;

    display: flex;
    flex-direction: column;
}

main>div.container_block{
    margin-bottom: 12px; 
}

#message_container{
    grid-column-start: 6;
    grid-column-end: 6;
}