:root {
  --main-primary: #30ccfe;
  --main-secondary: #f29a31;
  --main-secondary-hover: #db7d0e;
  --main-black: #474747;

  --main-background: #dbdbdb;
  --main-border: #272727;
}

html,
body {
  margin: 0;
}

.btn-secondary {
  background-color: var(--main-secondary);

  border: 0;

  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary:hover {
  background-color: var(--main-secondary-hover);
}

.btn-secondary:focus {
  background-color: var(--main-secondary-hover);
  outline: none;
  box-shadow: none;
}

h2 {
  text-align: center;
  font-size: 1.2em;
}

.container_block {
  background-color: var(--main-background);
  margin: 0;
  padding: 8px;

  border-radius: 8px;
}

.container_divider {
  width: 100%;
  margin: 6px auto;
  border: 2px solid var(--main-border);
  border-radius: 4px;
}

#layout_container {
  display: grid;
  grid-template-columns: auto 300px 55px 500px 55px 300px auto;
}

header {
  grid-column-start: 2;
  grid-column-end: 7;

  display: grid;
  grid-template-columns: 300px 55px 500px 55px 300px;
  align-items: center;

  margin-top: 12px;
  margin-bottom: 12px;
}

#header_logo {
  grid-column-start: 1;
  grid-column-end: 2;
}

#header_logo h1 {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 2.3em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-primary);
}

#header_search {
  grid-column-start: 3;
  grid-column-end: 4;
}

#header_nav {
  grid-column-start: 5;
  grid-column-end: 6;
}

#header_nav ul {
  list-style: none;
  margin: 0;

  display: flex;
  flex-direction: row-reverse;
}

#header_nav ul li {
  margin-left: 8px;
}

#header_nav ul li i {
  font-size: 1.7rem;
  color: var(--main-black);
}

#user_container {
  grid-column-start: 2;
  grid-column-end: 2;

  position: relative;
}

#user_container > div {
  padding: 0;
  border-radius: 8px;
}

#user_bg {
  background-color: var(--main-primary);
  border-radius: 8px 8px 0 0;
  height: 70px;
}

#user_avatar {
  background-color: var(--main-secondary);
  border-radius: 100%;

  width: 85px;
  height: 85px;

  position: absolute;
  top: 28px;
  left: calc(50% - 42px);
}

#user_content_container {
  margin-top: 38px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
}

#user_dname,
#user_name {
  text-align: center;
  margin: 0;
}

#user_dname {
  font-weight: 700;
  font-size: 1.1em;
}

#user_name {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

.user_club_container {
  margin-bottom: 4px;
}

.user_club_container img {
  border-radius: 8px;
  width: 64px;
  height: 64px;
}

.user_club_container span {
  font-weight: bold;
}

#user_dropdown_btn {
  align-self: center;
}

main {
  grid-column-start: 4;
  grid-column-end: 4;

  display: flex;
  flex-direction: column;
}

main > div.container_block {
  margin-bottom: 12px;
}

#main_create {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#main_create_avatar {
  background-color: var(--main-secondary);
  border-radius: 100%;

  width: 64px !important;
  height: 64px;
  flex-basis: 64px;
}

#main_create_input {
  height: 2.2rem;
  flex-basis: calc(100% - 72px);
}

#main_create_nav {
  justify-self: left;
}

#main_create_nav > ul {
  display: flex;
  flex-direction: row;

  list-style: none;
  margin: 4px 0 0 4px;
  padding: 0;
}

#main_create_nav ul li {
  margin-right: 6px;
}

#main_create_nav i {
  font-size: 1.4em;
  color: var(--main-black);
}

#main_create_submit {
  justify-self: end;
}

#message_container {
  grid-column-start: 6;
  grid-column-end: 6;
}
